/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #3ca6b4;
    background-color: #a1c0f1;
  }
#files {
    margin: 10px;
    width: 600px;
}

#homepage {
    margin: 10px;
    width:600px;
}

#lab3 {
    margin: 10px;
    width: 600px;
}

#webpage {
    margin: 10px;
    width: 600px;
}